<a href="https://colab.research.google.com/github/priyanka-kris/Dlithe-Internship---Python-and-Datascience/blob/main/Day4/Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Day 4**

In [ ]:
def fibo_seq(n, a = 1, b = 1):
  """
    This computes n'th number in 
    fibonacci sequence starting with
    a and b
  """
  for i in range(n):
    temp = a + b
    a = b
    b = temp
  return temp

In [ ]:
fibo_seq?

In [ ]:
def fibo_seq(n, a = 1, b = 1):
  """
    This computes n'th number in 
    fibonacci sequence starting with
    a and b.
    Value of a and b is default set to 1
  """
  for i in range(n):
    temp = a + b
    a = b
    b = temp
  return temp

In [ ]:
fibo_seq?

In [ ]:
def input_single_float(prompt):
  """
    This function will return an floating 
    point Number.
  """
  user_input = input(prompt)
  converted_input = float(user_input)
  return converted_input

In [ ]:
input_single_float?

In [ ]:
print(input_single_float("Enter float no"))

Enter a float4.5
4.5

In [ ]:
print(input_single_float("Enter float no"))

Enter a floatdata science

ValueError: ignored

In [ ]:
def input_single_float(prompt):
  """
    This function will return an floating 
    point Number.
  """
  user_input = input(prompt)
  try:
    converted_input = float(user_input)
  except:
    print("Please enter float")
  return converted_input

In [ ]:
print(input_single_float("enter the float"))

enter the float4.5
4.5

In [ ]:
print(input_single_float("enter the float"))

enter the floatsohan
Please enter float

UnboundLocalError: ignored

In [ ]:
def input_single_float(prompt):
  """
    This function will return an floating 
    point Number.
  """
  user_input = input(prompt)
  try:
    converted_input = float(user_input)
  except:
    print("Please enter float")
    converted_input = None
  return converted_input

In [ ]:
print(type(input_single_float("enter the float")))

enter the floatsohan
Please enter float
<class 'NoneType'>

# Lists

In [ ]:
course_name = "Foundations of data science"

In [ ]:
words = course_name.split()
print(words)

['Foundations', 'of', 'data', 'science']

In [ ]:
print(type(words))

<class 'list'>

In [ ]:
print(words[0])

Foundations

In [ ]:
print(type(words[0]))

<class 'str'>

In [ ]:
print(words[-1])

science

In [ ]:
print(words[0].lower())

foundations

In [ ]:
print(words[2:])

['data', 'science']

In [ ]:
print(words[-2])

data

In [ ]:
print(words[2:4])

['data', 'science']

In [ ]:
new_words = ["machine", "learning"]

In [ ]:
print(type(new_words))

<class 'list'>

In [ ]:
fibo_list = [1, 1, 2, 3, 5, 8, 13, 21]

In [ ]:
type(fibo_list)

list

In [ ]:
fibo_list

[1, 1, 2, 3, 5, 8, 13, 21]

In [ ]:
fibo_list[::-1]

[21, 13, 8, 5, 3, 2, 1, 1]

In [ ]:
# Iteration

In [ ]:
# Method 1
for i in fibo_list:
  print(i)

1
1
2
3
5
8
13
21

In [ ]:
# Method 2
length = len(fibo_list)
print("Length", length)

for i in range(length):
  print(i)

Length 8
0
1
2
3
4
5
6
7

In [ ]:
# Method 2
length = len(fibo_list)
print("Length", length)

for i in range(length):
  print(i, fibo_list[i])

Length 8
0 1
1 1
2 2
3 3
4 5
5 8
6 13
7 21

In [ ]:
# Method 3
for index, value in enumerate(fibo_list):
  print(index, value)

0 1
1 1
2 2
3 3
4 5
5 8
6 13
7 21

In [ ]:
bmi_record = ["David", 75, 1.73, False]

In [ ]:
for item in bmi_record:
  print(item)

David
75
1.73
False

In [ ]:
bmi_record[0] = "Not my name"

In [ ]:
bmi_record

['Not my name', 75, 1.73, False]

In [ ]:
bmi_record.append("david@somedomain.com")

In [ ]:
bmi_record

['Not my name', 75, 1.73, False, 'david@somedomain.com']

In [ ]:
bmi_record.insert(2, "Indian")

In [ ]:
list.insert?

In [ ]:
bmi_record

['Not my name', 75, 'Indian', 1.73, False, 'david@somedomain.com']