<a href="https://colab.research.google.com/github/priyanka-kris/Dlithe-Internship---Python-and-Datascience/blob/main/DAY%207/_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Day 7**

In [ ]:
aList = []
for i in range(10):
  aList.append(i)
print(aList)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# single line for loop
aList = [i for i in range(10)]
print(aList)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print([i for i in range(10)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
aList = []
for i in range(10):
  if i%2 == 0:
    aList.append(i)
print(aList)

[0, 2, 4, 6, 8]

In [ ]:
print([i for i in range(10) if i%2 == 0])

[0, 2, 4, 6, 8]

In [ ]:
print([i+2 for i in range(10)])

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
print([for i in range(10)])

SyntaxError: ignored

In [ ]:
for i in range(10):

SyntaxError: ignored

# List Questions

In [ ]:
# question 1
aList = [100, 200, 300, 400, 500]
aList = aList[::-1]
print(aList)

[500, 400, 300, 200, 100]

In [ ]:
# question 2
list1 = ["M", "na", "I", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = [i+j for i, j in zip(list1, list2)]

In [ ]:
zip?

In [ ]:
# question 3
aList = [1,2,3,4,5,6,7]
new_list = [i*i for i in aList]
print(new_list)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
# question 4
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

list4 = []
for x in list1:
  for y in list2:
    list4.append(x+y)

list3 = [x+y for x in list1 for y in list2]
print(list3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
# question 5
list1 = ["Mike", "", "Emma", "Kelly"
, "", "Brad"]
result_list = list(filter(None, list1))
print(result_list)

['Mike', 'Emma', 'Kelly', 'Brad']

In [ ]:
filter?

# Dictionary Questions

In [ ]:
# Question 1
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

In [ ]:
my_dict = dict(zip(keys, values))
print(my_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [ ]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
dict3 = {**dict1, **dict2}
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
# question 3
sampleDict={
    "class" :{
        "student" :{
            "name" : "Mike",
            "marks" : {
                "physics":70,
                "history":80
            }
        }
    }
}

In [ ]:
print(sampleDict['class']['student']['marks']['history'])

80

In [ ]:
# question 4
sampleDict = {
    "name" : "Kelly",
    "age":25,
    "salary":8000,
    "city" : "New York"
}

In [ ]:
keys = ["name", "salary"]
newDict = {i:sampleDict[i] for i in keys}
print(newDict)

{'name': 'Kelly', 'salary': 8000}

In [ ]:
sampleDict.keys()

dict_keys(['name', 'age', 'salary', 'city'])

In [ ]:
# question 5
sampleDict = {'a' : 100, 'b' : 200, 'c' : 300}

In [ ]:
print(200 in sampleDict.values())

True

In [ ]:
# question 6
sampleDict = {
    "name" : "kelly",
    "age" : 25,
    "salary" : 8000,
    "city" : "New York"
}

In [ ]:
sampleDict['location'] = sampleDict.pop('city')

In [ ]:
sampleDict

{'age': 25, 'location': 'New York', 'name': 'kelly', 'salary': 8000}

In [ ]:
# question 7
sampleDict = {
  	'Physics': 82,
  	'Math': 65,
 	'history': 75
}

In [ ]:
print(min(sampleDict, key=sampleDict.get))

Math