<a href="https://colab.research.google.com/github/priyanka-kris/Dlithe-Internship---Python-and-Datascience/blob/main/priyanka1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Day 1**

# Print statements

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("hello world")
print("my name is something.")

hello world
my name is something.

In [ ]:
print("Hello " + "World")

Hello World

In [ ]:
print("Hello", "World")

Hello World

In [ ]:
print(7390)

7390

In [ ]:
print(600 + 54)

654

In [ ]:
print("python is best")

python is best

In [ ]:
print(43/56)

0.7678571428571429

In [ ]:
print(True)

True

In [ ]:
print(True or False)

True

In [ ]:
print(True and False)

False

# Variables

In [ ]:
school = "Youtube"

In [ ]:
print(school)

Youtube

In [ ]:
print(type(school))

<class 'str'>

In [ ]:
a = 10
print(type(a))

<class 'int'>

In [ ]:
another_school = "Alvas"

In [ ]:
print(id(school))

140596843478128

In [ ]:
print(id(another_school))

140596896447728

In [ ]:
another_school = "Elite"

In [ ]:
print(id(another_school))

140596919984752

In [ ]:
print("My School is " + school)

My School is Youtube

In [ ]:
print("My School is", school)

My School is Youtube

In [ ]:
roll_no = 54
print(type(roll_no))

<class 'int'>

In [ ]:
roll_no = 54/3
print(type(roll_no))

<class 'float'>

In [ ]:
isGood = True # 0, 1 Binary
print(type(isGood))

<class 'bool'>

In [10]:
my_name = input("Enter your name -> ")

Enter your name -> priyanka

In [12]:
print(my_name)

priyanka

In [13]:
my_name

'priyanka'

In [ ]:
my_age = input("Please enter your age ")

Please enter your age 20

In [ ]:
fathers_age = my_age * 2

In [ ]:
print("My fathers age is " + fathers_age)

My fathers age is 2020

In [ ]:
print(type(my_age))

<class 'str'>

In [ ]:
my_age_int = int(my_age)
print(type(my_age_int))

<class 'int'>

In [ ]:
fathers_age_int = my_age_int * 2

In [ ]:
print("My fathers age is ", fathers_age_int)

My fathers age is  40

In [ ]:
print("My fathers age is " + str(fathers_age_int))

My fathers age is 40

# String

In [ ]:
topic = "Long text with no meaning in it."

In [ ]:
print(topic)

Long text with no meaning in it.

In [ ]:
print(topic[0])

L

In [ ]:
print(topic[10])

w

In [ ]:
topic = "123123313 imp data"
print(topic[9:])

 imp data

In [ ]:
print(topic[-1])

a

In [ ]:
print(topic[:-1])

123123313 imp dat

In [ ]:
print(topic[9:13])

 imp

In [ ]:
topic = "Long text with no meaning in it."

In [ ]:
print(topic.lower())

long text with no meaning in it.

In [ ]:
print(topic.upper())

LONG TEXT WITH NO MEANING IN IT.

In [ ]:
print(topic.find("with"))

10

In [ ]:
print(topic.find("donthave"))

-1

In [ ]:
print(topic.replace("it", "this"))

Long text wthish no meaning in this.

In [17]:
type(1j + 2)

complex

In [18]:
#List 
li = ["str",1,0.835,'m']
print(li)

['str', 1, 0.835, 'm']

In [19]:
#tuple
tu = ("str",2,0.2)
print(tu)

('str', 2, 0.2)

In [20]:
#Dictionary
d = {"Name":"Manish","roll":68,"semester":"IV"}
print(d)
type(d)

{'Name': 'Manish', 'roll': 68, 'semester': 'IV'}

dict

Arith. Operation and operators

In [21]:
print(8+8)
print(8-9)
print(6**2)
print(7/3)
print(7==8)
print(10>5)

16
-1
36
2.3333333333333335
False
True

Assignement Operator

In [22]:
x = 10

x+=10
print(x)

20

Logical Operator and or not

In [23]:
# and operator
if(10==10 and 12==12):
  print("and is true")
else:

  print("False")

and is true

In [24]:
not (10==1)

True

Day 2

In [25]:
li = [1,3,4,6,8,9]
print(li)

[1, 3, 4, 6, 8, 9]

In [26]:
li.append(69)
print(li)

[1, 3, 4, 6, 8, 9, 69]

In [27]:
li.insert(0,69)
print(li)

[69, 1, 3, 4, 6, 8, 9, 69]

Extend function

In [28]:
e1 = [1,3,5,7,9]
e2 = [2,4,6,8,10]
e1.extend(e2)
print(e1)
print(sum(e1))
print(e1.count(2))

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]
55
1

In [29]:
i1 = [1,2,3,4,5,6,7,8,9,10]
print(li.index(1))
print(max(i1))
print(min(i1))

1
10
1

In [30]:
print(i1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
x = 1
y = 9

m = 69
n = 96

m,n = n,m

t=x
x=y
y=t
print(x)
print(y)
print(m)
print(n)

9
1
96
69

String

In [32]:
strr = 'priyanka          dgfhbjkjkl'
print(strr.capitalize())
print(strr.find('h'))
print(strr.upper())

Priyanka          dgfhbjkjkl
21
PRIYANKA          DGFHBJKJKL

In [33]:
na = "priyanka"
su = "k"
na+su

'priyankak'

In [34]:
len(na)

8

DAY 3

In [35]:
dic = {"Name":"priyanka","Age":22}
print(dic)
del dic["Age"]
print(dic)
dic ["PhNumber"] = 100
dic ["Message"] = "call me"
print(dic)

{'Name': 'priyanka', 'Age': 22}
{'Name': 'priyanka'}
{'Name': 'priyanka', 'PhNumber': 100, 'Message': 'call me'}

In [36]:
temp = dict(Brand="Ford",Model="Mustang",Price="6Cr")
print(temp)

{'Brand': 'Ford', 'Model': 'Mustang', 'Price': '6Cr'}

In [37]:
this1 = ('mango','banana','orange','kiwi','melon','mango')
this1[5]

'mango'

In [38]:
this1[3:5]

('kiwi', 'melon')

In [39]:
tuple1 = (1,2,3,4)
tuple2 = ('abc',3,4,'bnh')
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4, 'abc', 3, 4, 'bnh')

In [40]:
tup = tuple('hello')
print(tup)

('h', 'e', 'l', 'l', 'o')

In [41]:
#todo
tu1 = tuple('hello')
tu2 = tuple('world')
print(tu1 + tu2)

('h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd')

In [42]:
tu = tuple("hello",) *3
print(tu)

('h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o')

Conditional Statement

In [44]:
string = "Priyanka"
if string == "priyanka":
  print('hello')
else:
  string = string*4
  print(string)

PriyankaPriyankaPriyankaPriyanka

In [45]:
i = 20
if (i<10):
  print("i is smaller than 10")
  print("if block")

else:
  print("i is greater or equal to 10")
  print("else block")

i is greater or equal to 10
else block

Day 4

In [46]:
#if and elif else
i = int(input("Enter value for i\n"))
if(i==20):
  print("i equals 20 and we are in if block")
elif(i==15):
  print("i is equal 15 and we are in if block")
else:
  print("if and elif block didn't executed")

Enter value for i
10
if and elif block didn't executed

In [48]:
#short hand if statement (To-Do)
j = int(input("Enter j value\n"))
if(j<10):
  print("i less than 10")
else:
  print("i is greater than 10")

Enter j value
5
i less than 10

In [52]:
#sum of natural value
limit = int(input("Enter Limit\n"))
sum = 1
for i in range(1,limit):
  sum+=i
print(sum)

Enter Limit
5
11

In [53]:
name = str(input("Enter Name\n"))
for i in name:
  print(i)

Enter Name
priyanka
p
r
i
y
a
n
k
a

In [54]:
for i in "priyanka":
  if i=='i' or i=='a':
    break
print(i)

i

In [55]:
x = 20
for i in range(x):
  print(i,end="+")

0+1+2+3+4+5+6+7+8+9+10+11+12+13+14+15+16+17+18+19+

In [56]:
#To Do sum from 1 to 10
sum = 0
for i in range(1,10):
  sum+=i
print(sum)

45

In [57]:
#sum from 1 to 10 odd number
sum = 0
for i in range(1,10,2):
  print(i)
  sum+=i
print(sum)

1
3
5
7
9
25

In [58]:
#while loop
i = 0
while(i<3):
  print("priyanka\n")
  i+=1

priyanka

priyanka

priyanka

Day 5

In [59]:
#Function to find number is odd or even
def oddeven(x):
  if(x%2==0):
    print("even")
  else:
    print("odd")

In [60]:
i = int(input("Enter a number\n"))
oddeven(i)

Enter a number
616516531
odd

In [61]:
#to-do sum of numbers
list1 = [1,2,3,5,6,"seyfbiufe","uyaegfyuq",4,6,]
sum = 0
for i in list1:
  if(type(i) == int):
    print(i)
    sum+=i
print(sum)

1
2
3
5
6
4
6
27

In [62]:
#lambda Function
x = lambda z:z+5
print(x(5))

10

In [63]:
def db(n):
  return lambda x:x*n
g = db(3)
print(g(6))

18

Day 6

In [64]:
!pip3 install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [65]:
# Importing the library

import pandas as pd
import numpy as np

In [66]:
#series
data = [1,2,3,4,45,6,7,'m']
d = pd.Series(data)
print(d)

0     1
1     2
2     3
3     4
4    45
5     6
6     7
7     m
dtype: object

In [67]:
s = pd.Series([1,2,3,np.nan,8,9])
print(s)

0    1.0
1    2.0
2    3.0
3    NaN
4    8.0
5    9.0
dtype: float64

In [68]:
d = pd.date_range('20220310', periods = 10)
print(d)

DatetimeIndex(['2022-03-10', '2022-03-11', '2022-03-12', '2022-03-13',
               '2022-03-14', '2022-03-15', '2022-03-16', '2022-03-17',
               '2022-03-18', '2022-03-19'],
              dtype='datetime64[ns]', freq='D')

In [69]:
import pandas as pd

s1=pd.Series([1,3,4,5,6,2,9])
s2=pd.Series([1.1,3.5,4.7,5.8,2,9,9.3])
s3=pd.Series(['a','b','c','d','e'])

Data={'first':s1,'second':s2,'third':s3}
df=pd.DataFrame(Data)
print(df)

   first  second third
0      1     1.1     a
1      3     3.5     b
2      4     4.7     c
3      5     5.8     d
4      6     2.0     e
5      2     9.0   NaN
6      9     9.3   NaN

In [70]:
df.to_csv('basic.csv')

In [71]:
df = pd.DataFrame({'A':[1,2,3,4],
                   'B':pd.Timestamp('20220310'),
                   'C':pd.Series(1,index = list(range(4))),
                   'D': np.array([5]*4, dtype = 'int32'),
                   'E': pd.Categorical(['test','train','train','test'])})

In [72]:
df

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [73]:
type(df)

pandas.core.frame.DataFrame

In [74]:
df.dtypes

A             int64
B    datetime64[ns]
C             int64
D             int32
E          category
dtype: object

In [75]:
df.to_numpy()

array([[1, Timestamp('2022-03-10 00:00:00'), 1, 5, 'test'],
       [2, Timestamp('2022-03-10 00:00:00'), 1, 5, 'train'],
       [3, Timestamp('2022-03-10 00:00:00'), 1, 5, 'train'],
       [4, Timestamp('2022-03-10 00:00:00'), 1, 5, 'test']], dtype=object)

In [76]:
df.describe()

              A    C    D
count  4.000000  4.0  4.0
mean   2.500000  1.0  5.0
std    1.290994  0.0  0.0
min    1.000000  1.0  5.0
25%    1.750000  1.0  5.0
50%    2.500000  1.0  5.0
75%    3.250000  1.0  5.0
max    4.000000  1.0  5.0

In [77]:
df.sort_index(axis = 1, ascending = False)

       E  D  C          B  A
0   test  5  1 2022-03-10  1
1  train  5  1 2022-03-10  2
2  train  5  1 2022-03-10  3
3   test  5  1 2022-03-10  4

In [78]:
df.sort_values(by = 'A')

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [79]:
df[0:3]

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train

In [80]:
df.loc[:,]

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [81]:
# From Position 

df.iloc[3]

A                      4
B    2022-03-10 00:00:00
C                      1
D                      5
E                   test
Name: 3, dtype: object

In [82]:
import sys

if not sys.warnoptions:
    import warnings
    warnings.simplefilter("ignore")

In [83]:
df.mean()

<ipython-input-83-c61f0c8f89b5>:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df.mean()
<ipython-input-83-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

A    2.5
C    1.0
D    5.0
dtype: float64

In [84]:
df = pd.Series([1,2,3,np.nan,4,5]).shift(2)

In [85]:
s = pd.Series(['priyanka','Banglore','chitradurga',np.nan])

In [86]:
s.str.upper()

0       PRIYANKA
1       BANGLORE
2    CHITRADURGA
3            NaN
dtype: object

In [87]:
s.str.lower()

0       priyanka
1       banglore
2    chitradurga
3            NaN
dtype: object